* {
    margin: 0;
    padding: 0;
    font-family: "Cambria", " Druk Wide Cyr", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans";
    width: 100%;
    box-sizing: border-box;
}

body {
    font-family: "Cambria", sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.registration-form {
    display: flex;
    flex-direction: column;
}

.registration-form h1 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input,
.form-group select {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

button {
    background-color: #4caf50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #45a049;
}

.app {
    /* overflow-y: hidden; */
}
.first-child-app {
    position: relative;
    top: 0;
    z-index: 99;
}
.true {
    overflow-y: hidden;
    max-height: 45vw;
}

.height {
    width: 100%;
}
@media screen and (max-width: 799px) {
    .app {
        display: block;
    }
    .height {
        width: 100vw;
        max-height: max-content;
    }
    .true {
        overflow-y: hidden;
        max-height: 100vh;
    }
    .first-child-app {
        position: absolute;
    }
}

.navWrap {
    display: flex;
    width: 70%;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    padding: 0px;
}
.navlogo {
    display: block;
    font-family: "Harrington";
    /* margin-top: 100px; */
    margin-left: 10px;
    font-size: 95px;
    font-weight: bolder;
    background: #5555aa;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bolder;
    font-style: italic;
    cursor: pointer;
}

.nav {
    font-size: 20px;
    display: flex;
    margin: 30px;
    justify-content: space-between;
    font-family: "Cambria";
    color: #515151;
    font-style: italic;
    font-size: 24px;
}
.singin {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.dropDownMenu {
    cursor: pointer;
}
.dropdown {
    position: relative;
    display: inline-block;
    z-index: 6;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 75%;
    background-color: #f9f9f9;
    min-width: 460px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 6;
}

.dropdown-content div {
    color: black;
    padding: 5px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content div:hover {
    background-color: #f1f1f1;
    transition: 4s;
    cursor: pointer;
    animation-fill-mode: forwards; /* Чтобы элемент оставался в конечном состоянии анимации */
    animation-delay: 1s; /* Задержка перед началом */
}

.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown:hover .dropDownMenu {
    background-color: #515151;
}
.dropDownMenu:last-child(2) {
    background-color: #ff8630;
}

.dropDownMenu img {
    display: block;
    min-width: 23px;
    min-height: 16px;
}

.dropdown-content div {
    color: black;
    padding: 5px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content div:hover {
    background-color: #f1f1f1;
    transition: 4s;
    cursor: pointer;
    animation-fill-mode: forwards; /* Чтобы элемент оставался в конечном состоянии анимации */
    animation-delay: 1s; /* Задержка перед началом */
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropDownMenu {
    background-color: #515151;
}

/* Адаптив */
@media screen and (max-width: 799px) {
    .navWrap {
        width: 100%;
        margin: 0px;
        display: flex;
        margin-left: auto;
        margin-right: auto;
        font-size: 16px;
        margin-top: 20px;
        align-items: baseline;
    }
    .navWrap:nth-child(1) {
        height: 45px;
        margin-top: 0px;
        height: 60px;
        font-size: 40px;
        font-weight: normal;
        /* background: linear-gradient(103.63deg, #ffffff 1.93%, #ad00ff 54.03%, #31ceff 92.85%); */
        -webkit-background-clip: text;
        /* -webkit-text-fill-color: transparent; */
    }

    .navlogo {
        display: block;
        margin-top: 1em;
        margin-left: 1em;
        height: 45px;
        font-size: 34px;
        font-weight: bolder;
        /* background: linear-gradient(103.63deg, #ffffff 1.93%, #ad00ff 54.03%, #31ceff 92.85%)); */
        -webkit-background-clip: text;
        /* -webkit-text-fill-color: transparent; */
    }

    .nav {
        font-size: 16px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .singin {
        margin-right: 15px;
    }
    #singin {
        visibility: hidden;
        display: none;
        margin-right: 10px;
    }
    .dropDownMenu {
        margin-left: 14px;
    }
    .dropDownMenu #menu {
        visibility: hidden;
        display: none;
    }
    .dropDownMenu img {
        display: block;
        height: 20px;
    }

    /* Всплывающее меню */
    .dropdown-content {
        display: none;
        position: absolute;
        right: -10%;
        margin-top: 10px;
        background-color: #f9f9f9;
        max-width: 400px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 6;
    }
}

.container {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    /* start grid */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 0.8fr 0.8fr 1.6fr;
    gap: 0px 0px;
    z-index: 0;
    margin-top: 14vh;
}
/* grid */
.findWrapImage {
    display: grid;
    grid-template-columns: 1.1fr 1fr 0.9fr;
    grid-template-rows: 1.1fr 0.4fr 2.3fr;
    gap: 0px 0px;
    grid-area: 1 / 1 / 4 / 4;
}
.findTextTitle {
    font-style: italic;
    color: #5555aa;
    margin-top: 135px;
    grid-area: 1 / 2 / 2 / 3;
    z-index: 1;
    font-weight: 500;
    max-width: 445px;
    margin-left: 50px;
    font-size: 14px;
}
.findTextP {
    z-index: 1;
    grid-area: 2 / 1 / 3 / 2;
    text-align: left;
    font-weight: bolder;
    font-style: italic;
    margin-left: 10px;
    font-size: 14px;
    margin-top: -22px;
}
/* end grid */

.findImage {
    grid-area: 1 / 1 / 4 / 4;
}
/* adaptive min */
@media screen and (max-width: 366px) and (max-height: 667px) {
    .container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 0.6fr 0.8fr 1.6fr;
        margin-top: 0px;
        gap: 0px 0px;
        /* margin-top: 100px; */
        margin-top: 14vh;
    }
    .findWrapImage {
        position: relative;
        display: grid;
        grid-template-columns: 1.1fr 1fr 0.9fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-area: 2 / 1 / 4 / 4;
    }
    .findTextTitle {
        grid-area: 1 / 1 / 2 / 4;
        margin-top: 10px;
        font-weight: 500;
        max-width: 97%;
        margin-left: 10px;
    }
    .findTextP {
        margin-top: 10vh;
        grid-area: 3 / 1 / 4 / 4;
        color: #515151;
    }
    .findImage {
        grid-area: 1 / 1 / 4 / 4;
        max-width: 200%;
        width: 100rem;
        margin-top: 57vw;
        margin-left: -30vw;
        zoom: 0;
    }
}
/* adaptive min end */

@media screen and (max-width: 799px) {
    .container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 0.6fr 0.8fr 1.6fr;
        margin-top: 14vh;
        gap: 0px 0px;
    }
    .findWrapImage {
        position: relative;
        display: grid;
        grid-template-columns: 1.1fr 1fr 0.9fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-area: 2 / 1 / 4 / 4;
    }
    .findTextTitle {
        grid-area: 1 / 1 / 2 / 4;
        margin-top: 10px;
        font-weight: 500;
        max-width: 97%;
        margin-left: 10px;
    }
    .findTextP {
        margin-top: 10vh;
        grid-area: 3 / 1 / 4 / 4;
        color: #ffff;
    }
    .findImage {
        grid-area: 1 / 1 / 4 / 4;
        max-width: 200%;
        width: 100rem;
        margin-top: 57vw;
        margin-left: -30vw;
        zoom: 0;
    }
}

/* post_list */
.postWrap {
    margin-top: 100px;
}
.forumWrap {
    margin-top: 100px;
    max-width: 1080px;
    padding: 16px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px 16px;
}
