{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">


    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
    <link rel="stylesheet" href="{% static 'css/chat.css' %}">

    <title>{% block title %} {% endblock %}</title>
</head>
<body>
{% if type == 'pc' %}
        <div class="page__layout" style="padding: 0;">
        <div class="chat_box">
            <div class="chat_sidebar" id="sidebar">
                <div class="sidebar_header">
                    <a href="{% url 'home' %}" class="sidebar_header_btn" >
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                            <path d="M16 4L8 12L16 20" stroke-width="2" stroke-linecap="round"/>
                        </svg>
                    </a>
                    <a href="{% url 'home' %}" class="logo">Amici</a>
                    <div class="sidebar_header_btn"></div>
                </div>
                {% for chat in chats %}
                {% if user.id == chat.sender.id %}
                <a href="{% url 'get_chat' chat.room_name %}" class="chat_user" >
                    <div class="chat_user_img">
                        <img src="{{chat.receiver.avatar_photo.file_path.url}}" alt="">
                    </div>
                    <div class="chat_user_text">
                        <div class="chat_user_nickname">{{chat.receiver.nickname}}</div>
                        {% else %}
                        <a href="{% url 'get_chat' chat.room_name %}" class="chat_user">
                    <div class="chat_user_img">
                        <img src="{{chat.sender.avatar_photo.file_path.url}}" alt="">
                    </div>
                    <div class="chat_user_text">
                        <div class="chat_user_nickname">{{chat.sender.nickname}}</div>
                        {% endif %}
                        <div class="chat_user_data">
                            <span>Последнее сообщение</span>
                            <span>{{chat.messages.last.get_message_time}}</span>
                        </div>
                    </div>
                </a>
                {% endfor %}
            </div>





            <div class="chat_message" id="chat">
                {% block chat_message %}
                <div class="header_chat_message">
                    <button class="back-button sidebar_header_btn" onclick="closeChat()">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                        <path d="M16 4L8 12L16 20" stroke-width="2" stroke-linecap="round"/>
                    </svg></button>
                    {% if user.id == chat.sender.id %}
                    <a href="{% url 'user_detail' chat.receiver.id %}" class="chat_user_img" id="currentUserImage">
                        <img src="{{ receiver.avatar_photo.file_path.url }}">
                    </a>
                    <a href="{% url 'user_detail' chat.receiver.id %}" class="chat_user_nickname" id="currentUserNickname">{{ receiver.nickname}}</a>
                {% else %}
                    <a href="{% url 'user_detail' chat.sender.id %}" class="chat_user_img" id="currentUserImage">
                        <img src="{{ chat.sender.avatar_photo.file_path.url }}">
                    </a>
                    <a href="{% url 'user_detail' chat.sender.id %}" class="chat_user_nickname" id="currentUserNickname">{{ chat.sender.nickname}}</a>


                {% endif %}</div>
                <div class="container_chat_message" id="messageContainer">
                    {% for message in messages %}
                    <div class="messageContainer">
                        {% if message.sender.login == request.user.login %}
                            <div class="chat_message_item right">{{ message.message }}</div>
                        {% else %}
                        <div class="chat_img_message">
                            <div class="chat_img" id="currentUserImage">
                            </div>
                            <div class="chat_message_item left">{{ message.message }}</div>
                        </div>
                        {% endif %}
                    </div>
                    {% endfor %}
                </div>




                <div class="input_chat_message">
                    <textarea name="message" placeholder="Напишите что-нибудь..." id="messageInput" class="messageInput"></textarea>
                    <div class="header_dropdown" data-dropdown="" style="position: relative;">
                        <div class="css-header_btn" data-dropdown-button="">
                            <div class="header_btn">
                                <span class="header_btn_icon">
                                    <img src="https://i.ibb.co/dcGX2xZ/Frame-180.png">
                                </span>
                            </div>
                        </div>
                        <div class="dropdown-menu" style="max-width: 400px; left: unset; right: 0; top: unset; bottom: calc(100% + 8px);">
                            <div class="dropdown-menu_box">
                                <div class="emojies">
                                    <div class="emoji" onclick="addEmoji('😄')">😄</div>
                                    <div class="emoji" onclick="addEmoji('😃')">😃</div>
                                    <div class="emoji" onclick="addEmoji('😄')">😄</div>
                                    <div class="emoji" onclick="addEmoji('😁')">😁</div>
                                    <div class="emoji" onclick="addEmoji('😆')">😆</div>
                                    <div class="emoji" onclick="addEmoji('😅')">😅</div>
                                    <div class="emoji" onclick="addEmoji('🤣')">🤣</div>
                                    <div class="emoji" onclick="addEmoji('😂')">😂</div>
                                    <div class="emoji" onclick="addEmoji('🙂')">🙂</div>
                                    <div class="emoji" onclick="addEmoji('🙃')">🙃</div>
                                    <div class="emoji" onclick="addEmoji('❤️')">❤️</div>
                                    <div class="emoji" onclick="addEmoji('😉')">😉</div>
                                    <div class="emoji" onclick="addEmoji('😊')">😊</div>
                                    <div class="emoji" onclick="addEmoji('😇')">😇</div>
                                    <div class="emoji" onclick="addEmoji('🥰')">🥰</div>
                                    <div class="emoji" onclick="addEmoji('😍')">😍</div>
                                    <div class="emoji" onclick="addEmoji('🤩')">🤩</div>
                                    <div class="emoji" onclick="addEmoji('😘')">😘</div>
                                    <div class="emoji" onclick="addEmoji('😗')">😗</div>
                                    <div class="emoji" onclick="addEmoji('😹')">😹</div>
                                    <div class="emoji" onclick="addEmoji('😸')">😸</div>
                                    <div class="emoji" onclick="addEmoji('😻')">😻</div>
                                    <div class="emoji" onclick="addEmoji('😼')">😼</div>
                                    <div class="emoji" onclick="addEmoji('😽')">😽</div>
                                    <div class="emoji" onclick="addEmoji('🙀')">🙀</div>
                                    <div class="emoji" onclick="addEmoji('😿')">😿</div>
                                    <div class="emoji" onclick="addEmoji('😾')">😾</div>
                                    <div class="emoji" onclick="addEmoji('🙈')">🙈</div>
                                    <div class="emoji" onclick="addEmoji('🙉')">🙉</div>
                                    <div class="emoji" onclick="addEmoji('🙊')">🙊</div>
                                    <div class="emoji" onclick="addEmoji('💋')">💋</div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="sendButton" data-user="{{ request.user.login }}">Отправить</button>
                </div>
                {% endblock %}
            </div>
        </div>
    </div>

{#{% if type != '"Windows"' %}#}
{% else %}
    <style>
        body {
        margin: 0;
        font-family: 'Comfortaa', sans-serif;
    }
    
    .page__layout {
        display: flex;
        flex-direction: column;
        height: 100vh;
    }
    
    .chat_box {
        flex: 1;
        display: flex;
        flex-direction: column;
        background-color: #f5f5f5;
    }
    
    .chat_message {
        flex: 1;
        display: flex;
        flex-direction: column;
        position: relative; /* Important for positioning the input */
    }
    
    .header_chat_message {
        display: flex;
        align-items: center;
        padding: 10px;
        background-color: #ffffff;
        border-bottom: 1px solid #ddd;
    }
    
    .container_chat_message {
        flex: 1;
        overflow-y: auto;
        padding: 10px;
    }
    
    .input_chat_message {
        padding: 10px;
        background-color: #ffffff;
        border-top: 1px solid #ddd;
        position: sticky; /* Make input sticky to the bottom */
        bottom: 0;
        width: 100%;
        box-sizing: border-box; /* Ensure padding is included in width */
        z-index: 1; /* Ensure it's above other content */
    }
    
    .messageInput {
        width: calc(100% - 70px); /* Adjust width for send button */
        height: 50px;
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 4px;
        box-sizing: border-box;
        margin-right: 10px; /* Space for send button */
    }
    
    .header_dropdown {
        position: relative;
        display: inline-block;
    }
    
    .css-header_btn {
        cursor: pointer;
    }
    
    .dropdown-menu {
        display: none;
        position: absolute;
        bottom: 100%;
        background: #ffffff;
        border: 1px solid #ddd;
        border-radius: 4px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        z-index: 1000;
        max-width: 300px;
        width: 100%;
        overflow-y: auto;
        max-height: 200px; /* Limit the height of the dropdown */
    }
    
    .dropdown-menu.show {
        display: block;
    }
    
    .emoji {
        cursor: pointer;
        padding: 10px;
        text-align: center;
    }
    
    .emoji:hover {
        background-color: #f0f0f0;
    }
    .header_chat_message {
        display: flex;
        align-items: center;
        padding: 10px;
    }
    </style>
    <div class="page__layout" style="padding: 0;">
        <div class="header_chat_message">
                    <button class="back-button sidebar_header_btn" onclick="closeChat()">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                        <path d="M16 4L8 12L16 20" stroke-width="2" stroke-linecap="round"/>
                    </svg></button>
                    {% if user.id == chat.sender.id %}
                    <a href="{% url 'user_detail' chat.receiver.id %}" class="chat_user_img" id="currentUserImage">
                        <img src="{{ receiver.avatar_photo.file_path.url }}">
                    </a>
                    <a href="{% url 'user_detail' chat.receiver.id %}" class="chat_user_nickname" id="currentUserNickname">{{ receiver.nickname}}</a>
                {% else %}
                    <a href="{% url 'user_detail' chat.sender.id %}" class="chat_user_img" id="currentUserImage">
                        <img src="{{ chat.sender.avatar_photo.file_path.url }}">
                    </a>
                    <a href="{% url 'user_detail' chat.sender.id %}" class="chat_user_nickname" id="currentUserNickname">{{ chat.sender.nickname}}</a>


                {% endif %}
        </div>
                <div class="container_chat_message" id="messageContainer">
                    {% for message in messages %}
                    <div class="messageContainer">
                        {% if message.sender.login == request.user.login %}
                            <div class="chat_message_item right">{{ message.message }}</div>
                        {% else %}
                            <div class="chat_img_message">
                                <a href="#" class="chat_img" id="currentUserImage">
                                    <img src="{{ message.sender.avatar_photo.file_path.url }}" alt="">
                                </a>
                                <div class="chat_message_item left">{{ message.message }}</div>
                            </div>
                        {% endif %}
                    </div>
                    {% endfor %}
                </div>
                <div class="input_chat_message">
                    <textarea name="message" placeholder="Напишите что-нибудь..." id="messageInput" class="messageInput"></textarea>
                    <div class="header_dropdown">
                        <div class="css-header_btn" id="emojiButton">
                            <div class="header_btn">
                                <span class="header_btn_icon">
                                    <img src="https://i.ibb.co/dcGX2xZ/Frame-180.png" alt="Emojis">
                                </span>
                            </div>
                        </div>
                        <div class="dropdown-menu" id="emojiDropdown">
                            <div class="emoji" onclick="addEmoji('😄')">😄</div>
                            <div class="emoji" onclick="addEmoji('😃')">😃</div>
                            <div class="emoji" onclick="addEmoji('😁')">😁</div>
                            <div class="emoji" onclick="addEmoji('😆')">😆</div>
                            <div class="emoji" onclick="addEmoji('😅')">😅</div>
                            <div class="emoji" onclick="addEmoji('🤣')">🤣</div>
                            <div class="emoji" onclick="addEmoji('😂')">😂</div>
                            <div class="emoji" onclick="addEmoji('🙂')">🙂</div>
                            <div class="emoji" onclick="addEmoji('🙃')">🙃</div>
                            <div class="emoji" onclick="addEmoji('❤️')">❤️</div>
                            <div class="emoji" onclick="addEmoji('😉')">😉</div>
                            <div class="emoji" onclick="addEmoji('😊')">😊</div>
                            <div class="emoji" onclick="addEmoji('😇')">😇</div>
                            <div class="emoji" onclick="addEmoji('🥰')">🥰</div>
                            <div class="emoji" onclick="addEmoji('😍')">😍</div>
                            <div class="emoji" onclick="addEmoji('🤩')">🤩</div>
                            <div class="emoji" onclick="addEmoji('😘')">😘</div>
                            <div class="emoji" onclick="addEmoji('😗')">😗</div>
                            <div class="emoji" onclick="addEmoji('😹')">😹</div>
                            <div class="emoji" onclick="addEmoji('😸')">😸</div>
                            <div class="emoji" onclick="addEmoji('😻')">😻</div>
                            <div class="emoji" onclick="addEmoji('😼')">😼</div>
                            <div class="emoji" onclick="addEmoji('😽')">😽</div>
                            <div class="emoji" onclick="addEmoji('🙀')">🙀</div>
                            <div class="emoji" onclick="addEmoji('😿')">😿</div>
                            <div class="emoji" onclick="addEmoji('😾')">😾</div>
                            <div class="emoji" onclick="addEmoji('🙈')">🙈</div>
                            <div class="emoji" onclick="addEmoji('🙉')">🙉</div>
                            <div class="emoji" onclick="addEmoji('🙊')">🙊</div>
                            <div class="emoji" onclick="addEmoji('💋')">💋</div>
                        </div>
                    </div>
                    <button type="submit" class="sendButton" data-user="{{ request.user.login }}">Отправить</button>
                </div>
            </div>
        </div>
    </div>
{% endif %}
</body>


<script>
document.addEventListener('DOMContentLoaded', function() {
    const sendButton = document.querySelector('.sendButton');
    const messageInput = document.getElementById('messageInput');
    const messageContainer = document.getElementById('messageContainer');

    const pathArray = window.location.pathname.split('/');
    const roomName = pathArray[pathArray.length - 2];
    const chatSocket = new WebSocket('ws://' + window.location.host + '/ws/chat/' + roomName + '/');

    // Прокручиваем контейнер до последнего сообщения при загрузке страницы
    messageContainer.scrollTop = messageContainer.scrollHeight;

    chatSocket.onmessage = function(e) {
        const data = JSON.parse(e.data);

        // Создаем элемент для контейнера сообщения
        const messageElement = document.createElement('div');
        messageElement.classList.add('messageContainer');

        // Создаем элемент для самого сообщения
        const messageItSelf = document.createElement('div');
        messageItSelf.classList.add('chat_message_item');
        if (data.sender === {{ request.user.id }}) {
            messageItSelf.classList.add('right');
        } else {
            messageItSelf.classList.add('left');
        }
        messageItSelf.textContent = `${data.message}`;

        // Добавляем сообщение в контейнер
        messageElement.appendChild(messageItSelf);
        messageContainer.appendChild(messageElement);

        // Прокручиваем контейнер до последнего сообщения
        setTimeout(() => {
            messageContainer.scrollTop = messageContainer.scrollHeight;
        }, 100);  // Небольшая задержка для правильной прокрутки
    };

    chatSocket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
    };

    sendButton.addEventListener('click', function() {
        const messageText = messageInput.value.trim();
        if (messageText !== '') {
            chatSocket.send(JSON.stringify({
                'message': messageText,
                'sender': '{{ request.user.id }}',
            }));
            messageInput.value = '';

            // Прокручиваем контейнер до последнего сообщения
            setTimeout(() => {
                messageContainer.scrollTop = messageContainer.scrollHeight;
            }, 100);  // Небольшая задержка для правильной прокрутки
        }
    });
   function addEmoji(emoji) {
            const textField = document.getElementById('messageInput');
            textField.value += emoji;
        }

    messageInput.addEventListener('keydown', function(event) {
        if (event.key === 'Enter') {
            event.preventDefault();
            sendButton.click();
        }
    });
});
    document.addEventListener("mousedown", e => {
        const isDropdownButton = e.target.matches("[data-dropdown-button]");
        if (!isDropdownButton && e.target.closest("[data-dropdown]") != null) return;

        let currentDropdown;
        if (isDropdownButton) {
            currentDropdown = e.target.closest("[data-dropdown]");
            currentDropdown.classList.toggle("drop-active");
        }

        document.querySelectorAll("[data-dropdown].drop-active").forEach(dropdown => {
            if (dropdown === currentDropdown) return;
            dropdown.classList.remove("drop-active");
        });
    });

    // Emoji insertion function
    window.addEmoji = function(emoji) {
        const textField = document.getElementById('messageInput');
        textField.value += emoji;
        textField.focus(); // Keep focus on the input after adding emoji
    };

</script>