{% extends "base.html" %}

{% load static %}

{% block title %} Избранные {% endblock %}

{% block body %}
<div class="page__layout">
        <div class="grid_box">
            {% for favorite in favorites %}
            <div class="user_box">
                <a href="{% url 'user_detail' user_id=favorite.favorite_user.id %}" class="user_box_img"><img src="{{ favorite.favorite_user.avatar_photo.file_path.url }}" alt="">
                <div class="user_box_name__age">
                    <div class="user_box_name">{{favorite.favorite_user.nickname}}</div>
                    <div class="user_box_age">{{favorite.favorite_user.age}}</div>
                </div>
                    </a>

                <div class="reaction_btns">


                    <button class="write_btn" data-tooltip="Написать сообщение">
                       <img src="https://i.ibb.co/NV3czdx/Frame-181.png" alt="Frame-181" border="0">
                    </button>

                    <button class="liked_btn" data-tooltip="Нравится">
                        <a href="{% url 'remove_favorite' favorite.favorite_user.id %}">
                            <img src="https://i.ibb.co/dj8Wmqv/Frame-181.png" alt="Frame-181" border="0"></a>
                    </button>

                </div>
            </div>
            {% endfor %}


        </div>
    </div>
{% endblock %}