{% load static %}
<head>
    <meta charset="UTF-8">


    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
    <link rel="stylesheet" href="{% static 'css/chat.css' %}">

    <title>{% block title %} Войти {% endblock %}</title>
</head>
<div class="page_layout_login">
    <div class="forms_login">
        <form method="post" id="loginForm">
            {% csrf_token %}
            <div class="center">
                <div class="logo"></div>
            </div>
            <div class="title_page">Вход</div>
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <li class="{{ message.tags }}">
                            {{ message|safe }}

                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
            <div class="forms_login_box">
                {{ form.username.errors }}
                <input type="text" id="id_username" name="username" class="input_design" placeholder="Логин" required>
                {{ form.password.errors }}
                <input type="password" id="id_password" name="password" class="input_design" placeholder="Пароль" required>
                <a href="{% url 'password_reset' %}" class="link_log_in">Забыли пароль?</a>
                <button type="submit" class="button_design">Войти</button>
            </div>
        </form>
    </div>
</div>

