{% extends "base.html" %}

{% load static %}

{% block title %} Войти {% endblock %}

{% block body %}
<div class="page_layout_login">
    <div class="forms_login">
        <div class="center">
            <div class="logo"></div>
        </div>
        <div class="title_page">Вход</div>
        <input type="text" class="input_design" placeholder="Логин">
        <input type="password" class="input_design" placeholder="Пароль">
        <button class="button_design">Войти</button>
        <a href="#" class="link_log_in">У Вас есть аккаунт? Войти</a>
    </div>
        
</div>
{% endblock %}