{% load static %}
<head>
    <meta charset="UTF-8">


    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
    <link rel="stylesheet" href="{% static 'css/chat.css' %}">

    <title>{% block title %} Изменение пароля {% endblock %}</title>
</head>

<div class="page_layout_login">
    <div class="forms_login">
        <h1>Изменение пароля</h1>
<form method="post">
    {% csrf_token %}
    <div class="forms_login_box">
    <div class="form-error">{{ form.non_field_errors }}</div>
    {% for f in form %}
        {{f.label}}
    <p><label class="form-label" for="{{ f.id_for_label }}"> </label>{{ f }}</p>
    <div class="form-error">{{ f.errors }}</div>
    {% endfor %}</div>

    <p><button class="button_design" type="submit">Изменить пароль</button></p>
</form></div></div>

