{% extends "base.html" %}

{% block title %} Profile {% endblock %}

{% block body %}
<style>
    .page_layout_profile {
        display: grid;
        place-items: center;
        min-height: 100vh;
    }
    .forms_profile_box {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }
    .input {
        outline: unset;
        border: solid 1px #eee;
        border-radius: 12px;
        width: 400px;
        max-width: 500px;
        height: 55px;
        padding: 0 16px;
        font-size: 15px;
    }
    #profileForm button {
        background: #eb008a;
        transition: 200ms;
    }
    #profileForm button:hover {
        background: #eb008a99;
    }
    .forms_profile h2 {
        margin: unset;
        line-height: 60px;
    }
</style>

<div class="page_layout_profile">
    <div class="forms_profile">
        <form method="post" id="profileForm">
            {% csrf_token %}
            {{ form.non_field_errors }}
            <div class="forms_profile_box">
                <h2>Профиль</h2>
                {% if user.is_authenticated %}
                    {{ form.general_info.errors }}
                    <textarea id="id_general_info" name="general_info" class="input" placeholder="Общая информация">{{ form.general_info }}</textarea>
                    {{ form.personal_info.errors }}
                    <textarea id="id_personal_info" name="personal_info" class="input" placeholder="Личная информация">{{ form.personal_info }}</textarea>
                    {{ form.education_profession.errors }}
                    <textarea id="id_education_profession" name="education_profession" class="input" placeholder="Образование и профессия">{{ form.education_profession }}</textarea>
                    {{ form.habits_preferences.errors }}
                    <textarea id="id_habits_preferences" name="habits_preferences" class="input" placeholder="Привычки и предпочтения">{{ form.habits_preferences }}</textarea>
                    <button type="submit">Изменить</button>
                {% else %}
                    {{ form.general_info.errors }}
                    <textarea id="id_general_info" name="general_info" class="input" placeholder="Общая информация">{{ form.general_info.value }}</textarea>
                    {{ form.personal_info.errors }}
                    <textarea id="id_personal_info" name="personal_info" class="input" placeholder="Личная информация">{{ form.personal_info.value }}</textarea>
                    {{ form.education_profession.errors }}
                    <textarea id="id_education_profession" name="education_profession" class="input" placeholder="Образование и профессия">{{ form.education_profession.value }}</textarea>
                    {{ form.habits_preferences.errors }}
                    <textarea id="id_habits_preferences" name="habits_preferences" class="input" placeholder="Привычки и предпочтения">{{ form.habits_preferences.value }}</textarea>
                    <button type="submit">Сохранить</button>
                {% endif %}
            </div>
        </form>
    </div>
</div>
{% endblock %}
