{% load static %}
<head>
    <meta charset="UTF-8">


    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
    <link rel="stylesheet" href="{% static 'css/chat.css' %}">

    <title>{% block title %} Регистрация {% endblock %}</title>
</head>


<div class="page_layout_register">
    <div class="forms_register">
        <form method="post" id="registrationForm">
            {% csrf_token %}
            {{ form.non_field_errors }}
        <div class="center">
            <div class="logo"></div>
        </div>
        <div class="title_page">Регистрация</div>
        <div id="registration-form">

            <div id="question1" class="question-container active">
                <label for="nickname">Как вас зовут?</label>
                {{ form.nickname.errors }}
                <input type="text" id="nickname" name="nickname" class="input-field input_design" placeholder="Имя" value="{{ form.nickname.value }}" required onchange="validateInput(1)">
                <div class="button-container">
                    <button class="button_design" id="next1" onclick="nextQuestion(2)" disabled>Далее</button>
                </div>
            </div>

            <div id="question2" class="question-container">
                {{ form.gender.errors }}
                <label for="gender">Какой у Вас пол?</label>
                <select name="gender" id="gender" class="input-field input_design" oninput="validateInput(2)">
                    <option selected disabled>Выберите пол</option>
                    <option value="Женский">Женский</option>
                    <option value="Мужской">Мужской</option>
                </select>
                <div class="button-container">
                    <button class="button_design" onclick="previousQuestion(1)">Назад</button>
                    <button class="button_design" id="next2" onclick="nextQuestion(3)" disabled>Далее</button>
                </div>
            </div>

            <div id="question3" class="question-container">
                <label for="age">А возраст какой?</label>
                {{ form.age.errors }}
                <input type="number" id="age" name="age" class="input-field input_design" value="{{ form.age.value }}" required oninput="validateInput(3)">
                <div class="button-container">
                    <button class="button_design" onclick="previousQuestion(2)">Назад</button>
                    <button class="button_design" id="next3" onclick="nextQuestion(4)" disabled>Далее</button>
                </div>
            </div>
    
            <div id="question4" class="question-container">
                <label for="country">Из какой вы страны, можно узнать?</label>
                {{ form.country.errors }}
                <input type="text" id="country" name="country" class="input-field input_design" placeholder="Какая страна?" value="{{ form.country.value }}" required oninput="validateInput(4)">
                <div class="button-container">
                    <button class="button_design" onclick="previousQuestion(3)">Назад</button>
                    <button class="button_design" id="next4" onclick="nextQuestion(5)" disabled>Далее</button>
                </div>
            </div>

            <div id="question5" class="question-container">
                <label for="region">Регион?</label>
                {{ form.country.errors }}
                <input type="text" id="region" name="region" class="input-field input_design" placeholder="Регион?" value="{{ form.region.value }}" required oninput="validateInput(5)">
                <div class="button-container">
                    <button class="button_design" onclick="previousQuestion(4)">Назад</button>
                    <button class="button_design" id="next5" onclick="nextQuestion(6)" disabled>Далее</button>
                </div>
            </div>

            <div id="question6" class="question-container">
                <label for="city">А город?</label>
                {{ form.country.errors }}
                <input type="text" id="city" name="city" class="input-field input_design" placeholder="Город" value="{{ form.country.value }}" required oninput="validateInput(6)">
                <div class="button-container">
                    <button class="button_design" onclick="previousQuestion(5)">Назад</button>
                    <button class="button_design" id="next6" onclick="nextQuestion(7)" disabled>Далее</button>
                </div>
            </div>
    
            <div id="question7" class="question-container">
                <label for="interested_gender">Какой пол Вам больше интересен?</label>
                {{ form.preffered_gender.errors }}
                <select name="preffered_gender" id="interested_gender" class="input-field input_design" onchange="validateInput(7)">
                    <option selected disabled>Выберите пол</option>
                    <option value="Женский">Женский</option>
                    <option value="Мужской">Мужской</option>
                    <option value="Все">Все</option>
                </select>
                <div class="button-container">
                    <button class="button_design" onclick="previousQuestion(6)">Назад</button>
                    <button class="button_design" id="next7" onclick="nextQuestion(8)" disabled>Далее</button>
                </div>
            </div>

            <div id="question8" class="question-container">
                <label for="login">Придумайте логин</label>
                {{ form.login.errors }}
                <input type="text" name="login" id="login" class="input-field input_design" placeholder="Логин" value="{{ form.login.value }}" required oninput="validateInput(8)">
                <div class="button-container">
                    <button class="button_design" onclick="previousQuestion(7)">Назад</button>
                    <button class="button_design" id="next8" onclick="nextQuestion(9)" disabled>Далее</button>
                </div>
            </div>

            <div id="question9" class="question-container">
                <label for="email">Укажите почту</label>
                {{ form.email.errors }}
                <input type="email" id="email" name="email" class="input-field input_design" placeholder="Email" value="{{ form.email.value }}" required oninput="validateInput(9)">
                <div class="button-container">
                    <button class="button_design" onclick="previousQuestion(8)">Назад</button>
                    <button class="button_design" id="next9" onclick="nextQuestion(10)" disabled>Далее</button>
                </div>
            </div>

            <div id="question10" class="question-container">
                <label for="confirmation_code">Код подтверждения</label>
                {{ form.email.errors }}
                <input type="number" id="confirmation_code" name="confirmation_code" class="input-field input_design" placeholder="Код подтверждения" value="{{ form.confirmation_code.value }}" required oninput="validateInput(10)">
                <div class="button-container">
                    <button class="button_design" onclick="previousQuestion(9)">Назад</button>
                    <button class="button_design" id="next10" onclick="nextQuestion(11)" disabled>Далее</button>
                </div>
            </div>

            <div id="question11" class="question-container">
    <label for="password">И пароль нужно придумать :)</label>
    {{ form.password.errors }}
    <input type="password" id="password" name="password" class="input-field input_design" placeholder="Придумайте пароль" value="{{ form.password.value }}" required oninput="validateInput(11)">
    <input type="password" id="confirm_password" name="confirm_password" class="input-field input_design" placeholder="Повторите пароль" oninput="validateInput(11)">
    <div class="button-container">
        <button class="button_design" onclick="previousQuestion(10)">Назад</button>
        <button class="button_design" id="next11" onclick="nextQuestion(12)" disabled>Далее</button>
    </div>
</div>

<div id="question12" class="question-container">
    <label for="user_agreement">Принимаю пользовательское соглашение</label>
    {{ form.user_agreement.errors }}
    <input type="checkbox" id="user_agreement" name="user_agreement" class="input-field input_design" value="{{ form.user_agreement.value }}" required oninput="validateInput(12)">
    <div class="button-container">
        <button class="button_design" onclick="previousQuestion(11)">Назад</button>
        <button class="button_design" type="submit" id="submit" disabled>Регистрация</button>
    </div>
</div>
        </div>
        <a href="{% url 'login' %}" class="link_log_in">У Вас есть аккаунт? Войти</a>
        </form>
    </div>
</div>
<script>
    function nextQuestion(questionNumber) {
    document.querySelectorAll('.question-container').forEach(container => {
        container.classList.remove('active');
    });
    document.getElementById('question' + questionNumber).classList.add('active');
}

function previousQuestion(questionNumber) {
    document.querySelectorAll('.question-container').forEach(container => {
        container.classList.remove('active');
    });
    document.getElementById('question' + questionNumber).classList.add('active');
}

function validateInput(questionNumber) {
    let isValid = false;
    if (questionNumber === 1) {
        isValid = document.getElementById('nickname').value.trim !== '';
    } else if (questionNumber === 2) {
        isValid = document.getElementById('gender').value !== 'Выберите пол';
    } else if (questionNumber === 3) {
        isValid = document.getElementById('age').value.trim() !== '';
    } else if (questionNumber === 4) {
        isValid = document.getElementById('country').value.trim() !== '';
    } else if (questionNumber === 5) {
        isValid = document.getElementById('region').value.trim() !== '';
    } else if (questionNumber === 6) {
        isValid = document.getElementById('city').value.trim() !== '';
    } else if (questionNumber === 7) {
        isValid = document.getElementById('interested_gender').value !== 'Выберите пол';
    } else if (questionNumber === 8) {
        isValid = document.getElementById('login').value.trim() !== '';
    } else if (questionNumber === 9) {
        isValid = document.getElementById('email').value.trim() !== '';
    } else if (questionNumber === 10) {
        isValid = document.getElementById('confirmation_code').value.trim() !== '';
    } else if (questionNumber === 11) {
        const password = document.getElementById('password').value.trim();
        const confirmPassword = document.getElementById('confirm_password').value.trim();
        isValid = password !== '' && confirmPassword !== '' && password === confirmPassword;
    } else if (questionNumber === 12) {
        isValid = document.getElementById('user_agreement').checked;
    }

    if (questionNumber <= 11) {
        document.getElementById('next' + questionNumber).disabled = !isValid;
    } else if (questionNumber === 12) {
        document.getElementById('submit').disabled = !isValid;
    }
}

function submitForm() {
    const nickname = document.getElementById('nickname').value;
    const gender = document.getElementById('gender').value;
    const age = document.getElementById('age').value;
    const country = document.getElementById('country').value;
    const region = document.getElementById('region').value;
    const city = document.getElementById('city').value;
    const interestedGender = document.getElementById('interested_gender').value;
    const login = document.getElementById('login').value;
    const email = document.getElementById('email').value;
    const confirmation_code = document.getElementById('confirmation_code').value;
    const password = document.getElementById('password').value;
    const user_agreement = document.getElementById('user_agreement').value;

    // Here you can send the data to the server
    console.log('Registration completed:', { gender, age, country, interestedGender, nickname, password });

}

document.addEventListener('DOMContentLoaded', function () {
    // Initialize the initial state of the button
    validateInput(1);
});

</script>
