{% load static %}
<head>
    <meta charset="UTF-8">


    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
    <link rel="stylesheet" href="{% static 'css/chat.css' %}">

    <title>{% block title %} Пользовательское соглашение {% endblock %}</title>
</head>
<div class="page_layout_register">
    <div class="forms_register">
    <div class="container">
        <h1>Пользовательское соглашение</h1>
        <p>Дата вступления в силу: 22.06.2024г</p>

        <h2>1. Введение</h2>
        <p>Добро пожаловать на наш сайт знакомств. Настоящее Пользовательское соглашение регулирует использование вами нашего веб-сайта и услуг. Пожалуйста, внимательно прочитайте это соглашение перед использованием нашего сайта.</p>

        <h2>2. Приемлемое использование</h2>
        <p>Вы соглашаетесь использовать наш сайт в соответствии с применимыми законами и правилами. Вы не можете использовать наш сайт для каких-либо незаконных или несанкционированных целей.</p>

        <h2>3. Регистрация и учетные записи</h2>
        <p>Для использования определенных функций нашего сайта вам необходимо зарегистрироваться и создать учетную запись. Вы соглашаетесь предоставлять точную и полную информацию при регистрации и поддерживать эту информацию в актуальном состоянии.</p>

        <h2>4. Конфиденциальность</h2>
        <p>Мы серьезно относимся к вашей конфиденциальности. Пожалуйста, ознакомьтесь с нашей Политикой конфиденциальности, чтобы узнать больше о том, как мы собираем, используем и защищаем вашу информацию.</p>

        <h2>5. Ответственность</h2>
        <p>Мы не несем ответственности за любые убытки или ущерб, возникшие в результате использования вами нашего сайта или услуг. Вы используете наш сайт на свой страх и риск.</p>

        <h2>6. Прекращение действия</h2>
        <p>Мы оставляем за собой право прекратить или приостановить ваш доступ к нашему сайту в любое время без предварительного уведомления, если вы нарушаете настоящие условия или действующие законы.</p>

        <h2>7. Изменения в соглашении</h2>
        <p>Мы можем периодически вносить изменения в настоящее соглашение. Мы уведомим вас о любых изменениях, разместив обновленное соглашение на нашем сайте. Ваша продолжительная использование нашего сайта после таких изменений означает ваше согласие с новыми условиями.</p>

        <h2>8. Связь с нами</h2>
        <p>Если у вас есть вопросы или предложения по поводу настоящего соглашения, пожалуйста, свяжитесь с нами по адресу: [Ваш адрес электронной почты или контактная информация].</p>
    </div>
</div></div>
</html>
