{% extends 'base.html' %}
{% load static %}
<head>
    <meta charset="UTF-8">


    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
    <link rel="stylesheet" href="{% static 'css/forum.css' %}">

    <title>{% block title %} форум {% endblock %}</title>
</head>
{% block body %}
<h1>Форум</h1>
     <h2>Forums</h2>
  <ul>
    {% for forum in forums %}
      <li>
        <h3>{{ forum.title }}</h3>
        <ul>
          {% for thread in forum.threads.all %}
            <li>
              <a href="{% url 'post_list' thread.id %}">
              <h4>{{ thread.title }}</h4>
                </a>
            </li>
          {% empty %}
            <li>No threads in this forum.</li>
          {% endfor %}
        </ul>
      </li>
    {% endfor %}
  </ul>
{% endblock %}