{% extends 'base.html' %}
{% load static %}

<head>
  <meta charset="UTF-8">


  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
  <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&amp;display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
  <link rel="stylesheet" href="{% static 'css/login.css' %}">
  <link rel="stylesheet" href="{% static 'css/register.css' %}">
  <link rel="stylesheet" href="{% static 'css/chat.css' %}">
  <link rel="stylesheet" href="{% static 'css/chat.css' %}">
  <link rel="stylesheet" href="{% static 'css/forum.css' %}">


  <title>{% block title %} Форум {% endblock %}</title>
</head>
{% block body %}
<script>
    function toggleReplies(commentId) {
        var repliesDiv = document.getElementById('replies-' + commentId);
        var toggleButton = document.getElementById('toggle-replies-' + commentId);

        if (repliesDiv.style.display === 'none') {
            repliesDiv.style.display = 'block';
            toggleButton.textContent = 'Скрыть ответы';
        } else {
            repliesDiv.style.display = 'none';
            toggleButton.textContent = `Посмотреть ответы (${toggleButton.getAttribute('data-reply-count')})`;
        }
    }
     document.getElementById('add-post-button').addEventListener('click', function() {
        const form = document.getElementById('add-post-form');
        if (form.style.display === 'none') {
            form.style.display = 'block';
        } else {
            form.style.display = 'none';
        }
    });
</script>
<a href="{% url 'add_post' thread.id %}">Add Post</a>

{% for post in posts %}
    <div class="postWrap">
        <button>Add post</button>
        <h2>{{ post.title }}</h2>
        {% if post.photo %}
        <img src="{{ post.photo.url }}" alt="">
        {% endif %}
        <p>{{ post.content }}</p>
        <p>Posted by {{ post.author.username }} on {{ post.created_at }}</p>
        <a href="{% url 'add_comment' post.id %}">Добавить комментарий</a>
        <div>
            {% for comment in post.comments.all %}
                {% include "comment.html" with comment=comment %}
            {% endfor %}
        </div>
    </div>
        </div>
    </div>
{% endfor %}
{% endblock %}