{% extends 'base.html' %}
<!-- {% load static %} -->


{% block body %}
<script>
    function toggleReplies(commentId) {
        var repliesDiv = document.getElementById('replies-' + commentId);
        var toggleButton = document.getElementById('toggle-replies-' + commentId);

        if (repliesDiv.style.display === 'none') {
            repliesDiv.style.display = 'block';
            toggleButton.textContent = 'Скрыть ответы';
        } else {
            repliesDiv.style.display = 'none';
            toggleButton.textContent = `Посмотреть ответы (${toggleButton.getAttribute('data-reply-count')})`;
        }
    }
    document.getElementById('add-post-button').addEventListener('click', function () {
        const form = document.getElementById('add-post-form');
        if (form.style.display === 'none') {
            form.style.display = 'block';
        } else {
            form.style.display = 'none';
        }
    });
</script>
<a href="{% url 'add_post' thread.id %}">Add Post</a>

{% for post in posts %}
<div style="display:block; margin-top: 100px;">

    <a href="{% url 'post_detail' post.thread.id post.id %}">
<div style="
    /* margin-top: 100px; */
    max-width: 1080px;
    padding: 16px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px 16px;
    flex-direction: column;
    align-items: center;">
    <img src="{{post.author.avatar_photo.file_path.url }}">
    <p>{{ post.author.nickname }}</p>
    <h2>{{ post.title }}</h2>
    {% if post.photo %}
    <img src="{{ post.photo.url }}" alt="">
    {% endif %}
    <p>{{ post.content }}</p>
    <p>Posted by {{ post.author.username }} on {{ post.created_at }}</p>
    <button>Посмотреть комментарии</button>
</div>
    </a>
</div>

{% endfor %}
{% endblock %}