{% extends 'base.html' %}
<!-- {% load static %} -->


{% block body %}

<div style="display:block; margin-top: 100px;">

<div style="
    /* margin-top: 100px; */
    max-width: 1080px;
    padding: 16px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px 16px;
    flex-direction: column;
    align-items: center;">
    <h2>{{ post.title }}</h2>
    {% if post.photo %}
    <img src="{{ post.photo.url }}" alt="">
    {% endif %}
    <p>{{ post.content }}</p>
    <p>Posted by {{ post.author.username }} on {{ post.created_at }}</p>
    <a href="{% url 'add_comment' post.id %}">Добавить комментарий</a>
    <div>
        {% for comment in post.comments.all %}
        {% include "comment.html" with comment=comment %}
    </div>
</div>
</div>

{% endfor %}
{% endblock %}